* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --nav-links_color: hsl(219, 9%, 45%);
    --nav-line_color: hsl(220, 14%, 75%);
    --heading-color: hsl(220, 13%, 13%);
    --sub-heading-color: hsl(26, 100%, 55%);

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--nav-links_color);
}

.wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/* Nav  */
.nav-main {
    position: relative;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
    padding: 30px 0;
}

.nav-main_list {
    display: flex;
    align-items: center;
}

.nav-main_links {
    font-weight: 400;
    margin-left: 40px;
    color: var(--nav-links_color);
    transition: background-color 0.2s ease-in-out;
    position: relative;
}

.nav-main_links:hover::after {
    content: "";
    position: absolute;
    background-color: hsl(26, 100%, 55%);
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    animation: linkGrow 0.4s forwards;
}

.nav-main_profile {
    display: flex;
    align-items: center;
}

.nav-main_profile li:first-of-type {
    margin-right: 40px;
}

.nav-main_profile li:nth-of-type(2) img {
    height: 50%;
    width: 50%;
}

.nav-main::after {
    content: "";
    background-color: var(--nav-line_color);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

@keyframes linkGrow {
    from {
        width: 0%;
    } to {
        width: 100%;
    }
}

/* Main Content */
main {
    height: calc(100vh - 114px);
    display: flex;
    align-items: center;
}

.product-container {
    padding: 0 40px;
    display: flex;
    align-items: center;
}

.product {

}

.product-slider {
    margin-top: 50px;
}

.product-slider-image {
    border-radius: 20px;
    overflow: hidden;
}

.product-slider-image:not(:last-of-type) {
    margin-right: 50px;
}

.product-image {
    background-color: blueviolet;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
}

.product-slider {
    display: flex;
}

.product-description {
    /* background-color: bisque; */
}

.product-brand {
    color: var(--sub-heading-color);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: px;
    text-transform: uppercase;
}

.product-description h1 {
    font-size: 3rem;
    color: var(--heading-color);
}

.product-price_output {
    display: flex;
    align-items: center;
}

.product-price p {
    text-decoration: line-through;
}

.product-controls {
    display: flex;
}
